* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.dll binary
*.exe binary
*.pdb binary
*.nupkg binary
*.db binary
*.sqlite binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
